<!DOCTYPE html>
<html lang="en">
    <head>
        <title>libaby</title>
        <link href="https://lichess1.org/assets/_dgEwKZ/css/site.ltr.dark.min.css" rel="stylesheet"/>
        <link href="https://lichess1.org/assets/_dgEwKZ/css/lobby.ltr.dark.min.css" rel="stylesheet"/>
        <link rel="mask-icon" href="https://lichess1.org/assets/_dgEwKZ/logo/lichess.svg" color="black" />
        <link id="favicon" rel="icon" type="image/png" href="https://lichess1.org/assets/_Spvs4E/logo/lichess-favicon-32.png" sizes="32x32">
    </head>
    <body style="overflow: hidden" class="dark brown Woodi Basic coords-in" data-theme="dark">
        <header id="top">
            <div class="site-title-nav">
                <h1 class="site-title"><a href="/">libaby</a></h1>
            </div>
            <div class="site-buttons">
                {% if current_user.is_authenticated %}
                <a id="username" href="/@/{{current_user.username}}" class="signin button button-empty">{{current_user.username}}</a>
                {% else %}
                <a href="/login" class="signin button button-empty">Login</a>
                {% endif %}
            </div>
        </header>
        <div id="main-wrap" class="is2d">
            <main class="lobby lobby--no-simuls">
                <div class="lobby__table"></div>
                <div class="lobby__app">
                    <div class="lobby__app__content">
                        <table class="hooks__list">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Players</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hook join">
                                    <td><span class="is is2 color-icon white"></span></td>
                                    <td><a href="/game">Play</a></td>
                                    <td>3+2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="lobby__side"></div>
            </main>
        </div>
    </body>
</html>