<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="theme-color" content="#dbd7d1">
        <meta content="Free online chess server. Play chess in a clean interface. No registration, no ads, no plugin required. Play chess with the computer, friends or random opponents." name="description">
        <title>{{ title }} • libaby.org</title>
        <link id="favicon" rel="icon" type="image/png" href="https://lichess1.org/assets/_0SUzIn/logo/lichess-favicon-32.png" sizes="32x32">
        <link href="https://lichess1.org/assets/_0SUzIn/css/site.light.min.css" rel="stylesheet">
        <link href="https://lichess1.org/assets/_0SUzIn/css/auth.light.min.css" rel="stylesheet">
        <link href="https://lichess1.org/assets/_0SUzIn/css/lobby.light.min.css" rel="stylesheet">
        <link href="https://lichess1.org/assets/_49LH4M/css/round.light.min.css" rel="stylesheet">
        <link href="https://lichess1.org/assets/_0SUzIn/css/dasher.light.min.css" rel="stylesheet">
        <link href="https://lichess1.org/assets/_0SUzIn/css/complete.light.min.css" rel="stylesheet">
        <link href="https://lichess1.org/assets/_0SUzIn/css/lobby.setup.light.min.css" rel="stylesheet">
        <script src="https://lichess1.org/assets/_0SUzIn/compiled/dasher.min.js"></script>
        <script src="https://lichess1.org/assets/_0SUzIn/compiled/cli.min.js"></script>
        <script src="https://lichess1.org/assets/_0SUzIn/compiled/userComplete.min.js"></script>
        <link href="https://lichess1.org/assets/_Iis238/css/round.zh.light.min.css" rel="stylesheet">
        <link id="piece-sprite" href="https://lichess1.org/assets/_Iis238/piece-css/cburnett.css" rel="stylesheet">
    </head>
    <body style="overflow: hidden" class="light blue Woodi Basic coords-in" data-vapid="BGr5CL0QlEYa7qW7HLqe7DFkCeTsYMLsi1Db+5Vwt1QBIs6+WxN8066AjtP8S9u+w+CbleE8xWY+qQaNEMs7sAs=" data-sound-set="standard" data-asset-url="https://lichess1.org" data-asset-version="0SUzIn" data-theme="light" data-piece-set="cburnett">
        <header id="top">
            <div class="site-title-nav">
                <h1 class="site-title"><a href="/">libaby<span>.org</span></a></h1>
                <nav id="topnav" class="hover">
                    <section>
                        <a href="/analysis">Example</a>
                        <div role="group"><a href="/analysis">Analysis board</a><a href="/editor">Board editor</a><a href="/paste">Import game</a><a href="/games/search">Advanced search</a></div>
                    </section>
                </nav>
            </div>
            <div class="site-buttons">
                <div id="clinput"><a class="link" href="/search"><span data-icon=""></span></a><input spellcheck="false" autocomplete="false" aria-label="Search" placeholder="Search" /></div>
                <div class="dasher">
                    <a class="toggle link anon" href="/settings"><span title="Preferences" data-icon=""></span></a>
                </div>
                {% if current_user.is_authenticated %}
                <a id="username" href="/profile" class="signin button button-empty">{{ current_user.username }}</a>
                {% else %}
                <a href="/login" class="signin button button-empty">Log in</a>
                {% endif %}
            </div>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>